@model EducationPortal.BusinessLogic.DTO.BookFormatDto
@{
    ViewData["Title"] = "Create Book Format";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Add" asp-controller="BookFormats" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>


