@model EducationPortal.BusinessLogic.DTO.BookAuthorDto
@{
    ViewData["Title"] = "Edit Book Author";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" asp-controller="BookAuthors" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>


