@{
    ViewData["Title"] = "Home Page";
}

<h2>💿 <a class="link-dark text-dark" asp-action="Index" asp-controller="Materials">Materials</a></h2>

<ul>
    <li><a asp-action="Index" asp-controller="Articles">📰 Articles</a></li>
    <li><a asp-action="Index" asp-controller="Books">📕 Books</a></li>
    <li><a asp-action="Index" asp-controller="Videos">🎞 Videos</a></li>
</ul>

<h2>🎓 <a class="link-dark text-dark" asp-action="Index" asp-controller="Courses">Courses</a></h2>

<h2>🥇 <a class="link-dark text-dark" asp-action="Index" asp-controller="Skills">Skills</a></h2>

<h2>⚙ Additional entities</h2>

<ul>
    <li><a asp-action="Index" asp-controller="BookAuthors">✍ Book Authors</a></li>
    <li><a asp-action="Index" asp-controller="BookFormats">📁 Book Formats</a></li>
    <li><a asp-action="Index" asp-controller="VideoQualities">📹 Video Qualities</a></li>
</ul>
