@model EducationPortal.Presentation.ViewModels.BookViewModel
@{
    ViewData["Title"] = "Create Book";
}

@section CSS
{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
        });
    </script>
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Add" asp-controller="Books" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="Pages">Pages</label>
        <input asp-for="Pages" type="number" class="form-control"/>
        <span asp-validation-for="Pages"></span>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="Format">Format</label>
        @Html.DropDownListFor(m => m.Format, new SelectList(Model.AvailableFormats), new {@class = "form-select"})
        <span asp-validation-for="Format"></span>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="SelectedAuthors">Authors</label>
        @Html.DropDownListFor(m => m.SelectedAuthors, new SelectList(Model.AvailableAuthors), new {@class = "form-select js-example-basic-multiple", @multiple="multiple"})
        <span asp-validation-for="SelectedAuthors"></span>
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>
